# Compiled python
*.pyc
.pytest_cache

# Visual Studio
.vs
*.pyproj
*.pyproj.user
*.sln

# Visual Studio Code
.vscode
*.code-workspace

# Data files
text/hexstring.txt
text/ids.txt
text/winkcount.txt
sizebot.egg-info
